html {
  height: 100%;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  padding: 100px 20px;
}

.footer1 {
  position: relative;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  border-top: 1px solid #333;
}

.footer-logo {
  width: 140px;
  height: 140px;
  object-fit: contain;
  mix-blend-mode: screen;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  font-family: "Georgia", serif;
  margin-bottom: 18px;
  font-size: 24px;
  text-align: center;
}

.icons {
  display: flex;
  gap: 18px;
}

.footer {
  background-color: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer2 {
  margin-bottom: 20px;
}
