@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;      /* allow vertical scroll */
}

.app-container { 
  position:relative; 
  min-height:100vh; 
  width: 100%;
  overflow-x: hidden; 
  overflow-y: scroll;
} 

.content{ 
  z-index: 1; 
  color:white; 

} 
.description{ 
  font-size: 1.5rem; 
  
}