.admin-content {
  margin-left: 200px;
  margin-top: 70px; /* make space for navbar */
  width: calc(100% - 200px);
  flex: 1;
  padding: 25px 30px;   /* add spacing */    
  color: white;
}

.sidebar.collapsed + .admin-content {
  margin-left: 70px;
  width: calc(100% - 70px);
}
.admin-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

