.placements-container {
  padding: 40px;
  color: white;
  text-align: center;
}

.placements-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
}

.companies-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
}

